<h1>GREEN FLOYD</h1>
<h2>Die besondere Band für die Musik von PINK FLOYD</h2>

<p>
    GREEN FLOYD ist in ein ganz besonderes und kaum vergleichbares Projekt, das mit viel Herzblut und Hingabe von der
    Allstar Band GREEN entwickelt wurde.
    GREEN ist eine Band, die gerne Titel anderer Bands interpretiert, aber keine normale „Coverband“ ist.
    Sie besteht aus befreundeten Musikern der Hagener Musikszene, die bei EXTRABREIT spielen und viele Jahre bei
    GROBSCHNITT gespielt haben, also eigentlich ausschließlich ihre selbst komponierten und getexteten Titel mit ihren
    Bands veröffentlichen und live präsentieren. *
    GREEN ist ein Liebhaberprojekt dieser Musiker, das es inzwischen schon über 40 Jahre gibt.
    Die Idee, ein einzigartiges Projekt mit der Musik von PINK FLOYD zu entwickeln, kam ihnen, weil sowohl Extrabreit im
    Oktober 2008 als auch Grobschnitt im Frühjahr 2011 zusammen mit dem Philharmonischen Orchester Hagen sehr
    erfolgreiche Crossover Projekte mit ihren eigenen Titeln aufgeführt hatten und die Musiker von Green dieses
    besondere
    „orchestrale Live-Erlebnis“ unbedingt noch einmal erleben wollten. Und die Musik von Pink Floyd schien ihnen dafür
    alle idealen Möglichkeiten zu bieten.
</p>

<p>
    Über 2 Jahre arbeitete die Band mit Arrangeur, Chor und Orchester an einem aufwändigen Programm, das unter dem Namen
    SYMPHONIC FLOYD erstmalig im Februar 2017 im Theater Hagen aufgeführt wurde. Es war so erfolgreich, dass es danach
    noch 12 weitere Vorstellungen vor immer ausverkauftem Haus gab. Als Höhepunkt wurde die Show im Februar 2019 und im
    Mai 2022 in der legendären Westfalenhalle in Dortmund vor einem begeisterten Publikum aufgeführt.
</p>

<p>
    Da GREEN mit ihrer Interpretation der Musik von Pink Floyd äußerst erfolgreich war und eine hohe Live-Qualität bot,
    entstand der Wunsch dieses besondere Event öfters auf die Bühne zu bringen. Da es mit den Chören und dem Orchester,
    also ca. 100 Musikern, nicht so einfach war Räumlichkeiten und Auftrittsmöglichkeiten zu bekommen, entschied man
    sich auch ein reines Bandprogramm zu entwickeln:
    GREEN FLOYD
</p>

<p>
    Erste Auftritte ohne Orchester zeigten, dass das Publikum absolut begeistert von der Band und ihrer Darbietung der
    Musik von Pink Floyd war.
</p>

<p>
    In ihrem über zweistündigen Programm sind neben den großen Hits von Pink Floyd wie Shine On You Crazy Diamond,
    Another Brick In The Wall, Hey You oder Wish You Were Here auch das komplette Dark Side Of The Moon sowie auch
    einige nicht so oft zu hörende Kompositionen der Rocklegenden live zu erleben.
</p>

<p>
    *EXTRABREIT gehört nach wie vor zu den deutschen Topbands mit mehreren Hitsingles und goldenen Schallplatten. Und
    GROBSCHNITT war vor allem in den 70 und 80ern eine der absolut prägenden und einflussreichsten Bands der deutschen
    Musikszene.
</p>